<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Giancarlo Valencia</h1>
		<p>Welcome to my Ruby on Rails basic blog example.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt, repellat voluptates molestias veniam fuga accusamus dolorem repudiandae corporis voluptatibus sit quasi minima animi, minus consequuntur, iusto corrupti explicabo cumque.</p>
	</div>
</div>
